body{
  margin: 0;
  padding: 0;
}
.container {
}
.wrapper {
  max-width: 1360px;
  margin: 0 auto;
  padding-left: 30px;
    padding-right: 30px;
}
.header {
  margin-top: 60px;
}
.title {
  text-align: center;
  font-size: 35px;
}
.content {
  margin-top: 40px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  
}
.item {
  width: calc(25% - 40px);
  margin: 0 20px;
}

.item-wrapper {
  display: block;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 80%;
  text-decoration: none;
  cursor: pointer;
}
.item-wrapper:hover .item-overlay {
  opacity: 0.6;
}
.item-wrapper:hover .item-description {
  height: 54px;
}
.item-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000;
  transition: opacity 350ms;
  
}
.item-content {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-information {
  display: block;
    position: absolute;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: 20px;
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
}
.item-name {
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: #fff;
  background-color: #0065ff;
  border-radius: 5px;
  padding: 7px 14px;
}
.item-description {
  display: block;
  margin-top: 10px;
  height: 0;
  overflow: hidden;
  color: #fff;
  line-height: 1.2;
  transition: height 350ms;
  font-size: 18px;
}

