.blog {
  
}

.blogItems {
  display: flex;
  flex-wrap: wrap;
  margin-top: 76px;
}
.blogItem {
  width: calc(33% - 30px);
  margin: 15px;
  &__img {
    margin-bottom: 29px;
  }

  &__title {
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
  }

  &__text {
  }

  &__icon {
    margin-top: 20px;
    img {
      padding-right: 28px;
      height: 40px;
      width: 49%;
      object-fit: scale-down;
      object-position: left bottom;
    }
  }
}
