.start {
  height: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  z-index: 0;
}

.titlewrap {
  max-width: 735px;
  margin-bottom: 84px;
}
.title {
  font-size: 96px;
  line-height: 109px;
  color: #ffffff;
  display: inline;
  z-index: 2;
}
.subtitle {
  font-size: 24px;
  line-height: 30px;
  display: inline-block;
  max-width: 302px;
  margin: 0 32px;
  z-index: 2;
}
.bgCart {
  background-size: contain;
  background-repeat: no-repeat;
  width: 1409px;
  height: 897px;
  max-width: 70%;
  right: 0;
  position: absolute;
  top: auto;
  background-position: right;
  z-index: -1;
}
.advItems {
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  margin-bottom: 35px;
}
.advItem {
  width: calc(50% - 30px);
  margin: 15px;
  margin-bottom: 36px;
  z-index: 2;

  &__numer {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: $accent;
  }

  &__text {
    font-weight: bold;
  }
}

